.cta-primary {
    background: #ab2020;
    color: white;
    padding: 18px 40px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    font-weight: 400;
    display: inline-block;
    &:hover {
        background: #960200;
    }
}

/* Play icon for video modal modules */
.video-play-btn {
    position: relative;
    display: block;
    margin: auto;
    width: 85px;
    height: 85px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    outline: none;
    background-color: hubl("$cta_background");
    transition: all 0.3s linear;

    .fa {
        position: absolute;
        top: 50%;
        left: 5px;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        color: #fff;
        font-size: 25px;
        transition: all 0.3s linear;
    }

    &:hover{
        background-color: transparent;
        border-color: hubl("$cta_background");

        .fa {
            color: hubl("$cta_background");
        }
    }


}

