.footer{
	background-color: #262626;
	color: #dddddd;
	.top-section{
		padding: 65px 0px;
		h4{
			color: #dddddd;
			font-weight: 600;
			font-size: 17px;
			margin-top: 10px;
			margin-bottom: 25px;
		}
		p{
			padding-right: 40px;
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			@media (max-width: 767px){
				margin-bottom: 60px;
				padding-right: 0px;
			}
		}
		.widget-type-logo{
			img{
				margin-bottom: 26px;
			}
		}
	}
	.bottom-section{
		background-color: #333333;
		.span12{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 600px){
				flex-direction: column;
				justify-content: center;
		    }
		}
		span,a{
			font-weight: normal;
			font-size: 13px;
			@media (max-width: 600px){
				display: inline-block;
				margin-top: 15px;
				text-align: center;
		    }
		}
		ul{
			float: right;
			display: block;
			list-style: none;
			li{
				float: left;
				a{	
					@media (max-width: 600px){
						margin-top: 0px;
				    }
					i{
						color: #999999;
						margin:10px 0px;
						background-color: transparent;
						display: inline-block;
						text-align: center;
						line-height: 30px;
						width: 30px;
						height: 30px;
						border-radius:50%;
						&:hover{
							color: #fff;
						}
					}
					.fa-facebook{
						&:hover{
							background-color: #37589b;
						}
					}
					.fa-twitter{
						&:hover{
							background-color: #46d4fe;
						}
					}
					.fa-linkedin{
						&:hover{
							background-color: #419cca;
						}
					}
					.fa-xing{
						&:hover{
							background-color: #006567;
						}
					}
					.fa-google-plus{
						&:hover{
							background-color: #dd4f43;
						}
					}
					.fa-youtube{
						&:hover{
							background-color: #b31217;
						}
					}
				}
			}
		}
	}
}

.scroll-top{
    position: fixed;
    border-radius: 2px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    right: 50px;
    bottom: 45px;
    z-index: 9999;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 3px;
    transition: all 0.3s ease-out;
    @media (max-width: 767px){
		right: 10px;
	}
    &:hover{
    	 background-color: #fff;
    }
    i{
    	 color: #eeeeee;
    	 font-size: 10px;
    	 line-height: 50px;
    	 margin:0;
    	 padding: 0;
    	 display: block;
    	 &:hover{
    	 	color:#444;
    	 }
    }
}


