.landing {

}

.custom-file-upload {
    background-color: #f7f7f7;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 300;
    min-height: 55px;
    color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 17px 25px 16px;
    display: block;
    line-height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
    i {
        margin-right: 10px;
    }
}