#__bs_notify__ {
    left: 0 !important;
    right: auto !important;
}
.slicknav_menu {
    display:none;
}

@media screen and (max-width: 992px) {
    .header {
        display: none;
    }
    .landing {
        .header {
            display: block;
            background: white;
        }
        header.header .widget-type-logo .sub-logo {
            opacity: 1;
        }
    }
    .slicknav_menu {
        display: block;
    }
}

.slicknav_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    width: 100%;
    min-height: 77px;
    max-height: 100%;
    background-color: #fff;
    box-shadow: 0 0px 15px 5px rgba(0,0,0,0.1);
    padding: 0;
    overflow-y: auto;

    a.slicknav_btn {
        border-radius: 2px;
        background-color: #ffffff;
        color: #474747;
        border: 1px solid transparent;
        padding: 2px 10px;
        margin: 12px 30px;
        .slicknav_menutxt {
            color: #262626;
            text-shadow: none;
            line-height: 34px;
            font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        }
        .slicknav_icon {
            font-size: 22px;
            margin: 0;
            padding: 4px;
            span {
                background: #262626;
            }
        }
        &:hover {
            background-color: #ab2020;
            color: #ffffff;
            border-color: #ab2020;
            .slicknav_menutxt {
                color: #fff;
            }
            .slicknav_icon {
                span {
                    background: #fff;
                }
            }
        }
    }
    .slicknav_nav {
        z-index: 10000;
        overflow: scroll;
        .hs-menu-depth-1 {
            > a {
                // border-bottom: 1px solid #e1e1e1;
            }
        }
        a {
            color: #666666;
            border-radius: 0;
            margin: 0;
            padding: 15px 30px;
            font-size: 16px;
            font-weight: normal;
            border-bottom: 1px solid #e1e1e1;
            &:hover {
                color: #fff;
                background: #333333;
                .slicknav_menutxt {
                    color: #fff;
                }
                .slicknav_icon {
                    span {
                        background: #fff;
                    }
                }
            }
        }
        .slicknav_row {
            border-radius: 0;
            a {
                padding: 0;
            }
            &:hover {
                color: #fff;
                background: #333333;
                a {
                    color: #fff;
                    background: transparent;
                }
            }
        }
    }
    .slick-logo {
        float: left;
        width: 150px;
        height: auto;
        margin: 15px 0 15px 50px;
        img {
            margin-top: 5px;
            width: 100px;
        }
    }
}




header.header{
    position: fixed;
    width: 100%;
    z-index: 10000;
    // background-color: rgba(0,255,255,0);
    a {
        font-family: Helvetica, Sans-Serif;
        font-weight: 700;
    }
    &--main{
        >.container{
            max-width: 1280px;
            >.span12 {
                >.row-fluid-wrapper{
                    >.row-fluid{
                        display:flex;
                        // justify-content:center;
                        > div {
                            display: flex;
                            margin: 0;
                            width: 100%;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
    &.header--transparent {
        .sub-logo-red {
            opacity: 0;
        }
    }
    .widget-type-logo {
        height: 86px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        .sub-logo {
            display: flex;
            // opacity: 0;
            position: absolute;
            top: 0;
            height: 100%;
            width: auto;
            min-width: 155px;
            a {
                display: block;

            }
            img {
                // min-height: 22px;
                width: auto !important;
                padding: 0;
            }
        }
    }
    .hs-menu-wrapper {
        text-align: right;
    }
    .hs-menu-depth-1 {
        float: none !important;
        > a {
            font-weight: 700 !important;
        }
        > .hs-menu-children-wrapper {
            top: 84px;
            > .hs-menu-depth-2 {
                position: relative;
                padding-top: 0;
                > a {
                    font-weight: 500 !important;
                    padding-right: 50px !important;
                }
                > .hs-menu-children-wrapper {
                    position: absolute;
                    font-weight: 400;
                    left: 100% !important;
                    top: -2px !important;
                }
            }
            .hs-menu-depth-3 {
                padding-top: 0;
            }
        }
    }
    .widget-type-menu {
        .hs-menu-wrapper {
            > ul {
                height: 86px;
                display: flex;
                justify-content: flex-end;
                > li {
                    > a {
                        line-height: 86px;
                        transition: none;
                    }
                }
                li {
                    padding: 0;
                    height: 100%;
                    &:hover {
                        border-bottom: 2px solid #b42423;
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 13px;
                        padding: 0 13px;
                        display: block;
                        height: 100%;
                        color: #fff;
                        &:hover {
                            color: #fff;
                        }
                    }
                    ul.hs-menu-children-wrapper {
                        background: #fff;
                        width: auto;
                        min-width: 110px;
                        border-top: 2px solid #b42423;
                        li {
                            z-index: 100;
                            height: inherit;

                            &:hover {
                                border-bottom: none;
                            }
                            a {
                                padding-right: 300px;
                                font-weight: 400;
                                padding-right: 60px;
                                text-align: left;
                                z-index: 100;
                                font-weight: 400;
                                &:hover {
                                    background: #f0f0f0;
                                }
                            }

                        }
                        &:after {
                            content: "";
                            width: 100%;
                            display: block;
                            left: 50%;
                            z-index: 1;
                            box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
                        }
                    }
                }
                // > li:last-child {
                //     margin-left: 30px;
                //     display: flex;
                //     flex-direction: column;
                //     justify-content: center;
                //     a {
                //         letter-spacing: 0.5px;
                //         padding: 9px 10px;
                //         background: #b42424;
                //         color: white;
                //         border-bottom: 1px solid #960200;
                //         border-radius: 4px;
                //         letter-spacing: -0.5px;
                //         max-height: 35px;
                //         min-width: 80px;
                //         line-height: 18px;

                //         &:hover {
                //             background: #960200;
                //         }
                //     }
                //     &:hover {
                //         border-bottom: none;
                //     }
                // }
            }
        }
    }
    .menu-links {
        .widget-type-menu {
            .hs-menu-wrapper {
                > ul {
                    > li:last-child {
                        margin-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        a {
                            letter-spacing: 0.5px;
                            padding: 9px 10px;
                            background: #b42424;
                            color: white;
                            border-bottom: 1px solid #960200;
                            border-radius: 4px;
                            letter-spacing: -0.5px;
                            max-height: 35px;
                            min-width: 80px;
                            line-height: 18px;

                            &:hover {
                                background: #960200;
                            }
                        }
                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    .menu-language {
        padding: 0 20px;
        .widget-type-menu {
            padding-right: 0 !important;
            .hs-menu-wrapper {
                > ul {
                    > li {
                        a {
                            color: #515151;
                        }
                        &:hover{
                            a {
                                color: #b42423;
                            }
                        }
                        &.active-lang {
                            &:hover{

                                border-bottom: none;
                                a {
                                    cursor: default;
                                    color: #515151;
                                    &:hover{
                                        color: #515151;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.active {
        &.header--transparent {
            background: rgba(255,255,255,0.95);
            .sub-logo-red {
                opacity: 0;
            }
        }
    }
}




.body-container-wrapper{
    margin-top: 86px;
    @media screen and (max-width: 992px) {
        margin-top: 77px;
    }
}
.white-header {
    header.header {
        background: rgba(255,255,255,0.95);
        box-shadow: 0 0px 15px 5px rgba(0,0,0,0.1);
        .widget-type-logo {
            .sub-logo {
                opacity: 1;
            }
        }
        .widget-type-menu .hs-menu-wrapper > ul li:not(:last-child) {
            a {
                padding-left: 13px;
                padding-right: 13px;
                color: #515151;
                &:hover {
                    color: #b42423;
                }
            }
        }
        &.active {
            .widget-type-logo {
                .sub-logo {
                    // opacity: 0;
                }
            }
            .widget-type-menu .hs-menu-wrapper > ul li:not(:last-child) {
                &:hover {
                    color: #b42423;
                }
            }
        }
    }
}
// .landing {
//     header.header {
//         .widget-type-logo {
//             width: 100%;
//         }
//     }
// }




