
body {
    line-height: 1.42857143;
    color: hubl("$main_font_color");
    font-family: hubl("$font");
    /*-----*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    line-height: 1.1;
    color: #333;
    margin: 20px 0px;
    &::-moz-selection { background: #000; color: #fff;}
    &::selection { background: #000; color: #fff;}
    span{
         font-family: inherit;
    }
}

p {
    margin: 20px 0px;
    &::-moz-selection { background: #000; color: #fff;}
    &::selection { background: #000; color: #fff;}
}

label {
    span {
        background-color: transparent;
    }
}

.hs_cos_flex-direction-nav {
    a {
        background-image: url('http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/bg_direction_nav.png');
    }
}

.row-fluid [class*="span"] {
    min-height: 0px;
}

.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.footer-container-wrapper .footer ul li a i {
    transition: all 0.3s linear;
}

.footer-container-wrapper .footer ul li a i:hover {
    background-color: #bfbfbf;
}

body,
a,
p,
span,
div,
ul,
li,
input,
strong,
textarea {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    font-family: hubl("$font");
    line-height: 33px;
    &::-moz-selection { background: #000; color: #fff;}
    &::selection { background: #000; color: #fff;}
    strong {
        font-family: inherit;
        font-size: inherit;
        font-weight: 600;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    margin: 20px 0px;
    font-weight: 600;
}
p {
    margin: 20px 0px;

}

textarea {
    padding: 8px;
}

.error {
    margin: 0;
}

.widget-type-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        span {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
    }
}

.widget-type-rich_text a:not(.cta_button) {
    color: hubl("$cta_background");
    :hover {
        text-decoration: underline;
    }
}
.widget-type-rich_text {
    a:not(.cta_button) {
        color: #ab2020;
        text-decoration: none;
        &:hover {
            text-decoraton: underline;
        }
    }
}
.widget-type-form {
    max-width: 440px;
    background-color: #fff;
    padding: 35px;
    border-top: 6px solid #ab2020;
    border-radius: 4px;
    font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    box-shadow: 0px 3px 5px 0px #b7b7b7;
    h3.form-title {
        font-size: 25px;
        text-align: center;
        color: #333333;
        font-weight: 400;
        margin: 0;
        margin-bottom: 35px;
        font-family: "Georgia";
        span {
            font-size: 25px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        }
        strong {
            font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
            font-weight: 600;
            text-transform: uppercase;
        }
        hr {
            width: 55px;
            margin: 20px auto;

        }
    }
    form .hs-form-required {
        display: none;
        form input {
            background-color: #f7f7f7;
            border: none;
            outline: none;
            font-size: 18px;
            font-weight: 300;
            border: solid 1px #d6d5d5;
            margin-top: 8px;
            color: #626262;
        }
    }
    .hs-form-field {
        margin-bottom: 20px;
    }
    form select {
        border: 0;
        color: #A9A9A9;
        outline: 0;
        font-size: 16px;
        font-weight: 300;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        font-family: "Georgia";
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('https://info.reamis.com/hubfs/CR%20TEMPLATES/IMG/arrow-dropdown-form.png');
        background-repeat: no-repeat;
        background-position-x: 93%;
        background-position-y: 50%;
        background-color: #f7f7f7;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        min-height: 55px;
        border-radius: 4px;
        padding: 0 25px;
        option {
            min-height: 55px;
            &:selected {
                color: #333;
            }
        }
        &::-ms-expand {
            display: none;
        }
    }
    form textarea {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 300;
        border: solid 1px #d6d5d5;
        color: initial;
        margin-top: 8px;
        // font-family: hubl("$font"), sans-serif;
        min-height: 130px;
    }
    form ul li {
        list-style-type: none;
        color: #ab2020
    }
    form ul li.hs-form-checkbox {
        color: #ab2020;
    }
    form ul li.hs-form-booleancheckbox {
        color: #ab2020;
    }
    label {
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        span {
            color: #333;
            font-family: inherit;
            font-weight: 300;
        }
        position:relative;
    }
    input[type="checkbox"] {
        position: relative;
        height: 3px;
        width: 15px;
        top: -6px;
        margin-right: 3px;
        visibility: hidden;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        min-height: 0;
        padding: 0;
        +span {
            &:before {
                content: "";
                position: absolute;
                top: 2px;
                left: -1px;
                background-image: url('//info.reamis.com/hubfs/CR%20TEMPLATES/IMG/check.png');
                display: block;
                width: 16px;
                height: 16px;
                background-position: left top;
            }
        }
        &:checked {
            +span {
                &:before {
                    background-position: 16px 0px;
                }
            }
        }
    }
    input[type="radio"] {
        position: relative;
        height: 3px;
        width: 15px;
        top: -6px;
        margin-right: 8px;
        visibility: hidden;
        min-height: 0;
        padding: 0;
        +span {
            &:before {
                content: "\f10c";
                font-family: FontAwesome;
                background-image: none;
                color: rgb(128, 128, 128);
                position: absolute;
                background-position: center;
                left: -1px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 19px;
                background-color: #FFF;
                height: 16px;
                width: 16px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                line-height: 0.9;
            }
        }
        &:checked {
            +span {
                &:before {
                    content: '\f192';
                    color: #ab2020;
                }
            }
        }
    }
    form .hs-form-required {
        display: none;
    }
    .home-contact-section .widget-type-form label {
        color: #fff;
    }
    form input {
        background-color: #f7f7f7;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        min-height: 55px;
        color: #333;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        border-radius: 4px;
        padding: 0 25px;
    }
    form input[type="submit"] {
        border-bottom: none;
        font-size: 16px;
    }
    form input.hs-button  {
        // @extend .cta-primary;
        padding: 13px 25px;
        background: #ab2020;
        // text-transform: uppercase;
        border-radius: 3px;
        font-size: 22px;
        letter-spacing: 1px;
        font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        font-weight: 400;
        width: 100%;
        color: #fff;
        &:hover {
            cursor: pointer;
            background: #960200;
        }
    }
    form textarea {
        background-color: #f7f7f7;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
        padding: 10px 25px 0 25px;
        border-radius: 4px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #333;
        min-height: 130px;
        resize: vertical;
    }
    form ul li {
        list-style-type: none;
    }
    ::-webkit-input-placeholder {
        color: #A9A9A9;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    }
    ::-moz-placeholder {
        /* Firefox 18- */
        color: #A9A9A9;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    }
    :-moz-placeholder {
        /* Firefox 19+ */
        color: #A9A9A9;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    }
    :-ms-input-placeholder {
        color: #A9A9A9;
        // font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
    }
}

.footer-info .widget-type-form form input.hs-button {
    @extend .cta-primary;
}

.feedreader_box {
    margin-top: -3px;
}

.footer-info .widget-type-form {
    form {
        margin-top: 30px;
        .hs-error-msgs {
            a,
            label {
                color: #fff;
                font-size: 16px;
            }
        }
    }
    .form-title {
        display: none;
    }
    form input {
        margin-top: 19px;
        color: #fff;
        border-radius: 0;
    }
    form div:first-of-type div:first-of-type div:first-of-type input:first-of-type {
        margin-top: 37px;
    }
    ::-webkit-input-placeholder {
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-ms-input-placeholder {
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    form {
        margin-top: 30px;
    }
}

.hs-form-checkbox-display span {
    padding-left: 5px;
    color: white;
}


a,
.button,
.yellow-button,
.hs-button {
    -webkit-appearance: none;
}

a,
a:visited,
a:focus,
a:hover,
a:active,
input:focus,
input:active,
input:hover,
input:visited,
input,
button:focus,
button:active,
button:hover,
button:visited,
button {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.gray-hover:hover a {
    color: #75787b !important;
}

.padding-zero {
    padding: 0px;
}


.button {
    @extend .cta-primary;
}

h1 {
    font-size: 64px;
    line-height: 1.47;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 44px;
    line-height: 1.47;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    font-weight: 300;
}

h3 {
    font-size: 30px;
    font-weight: normal;
}

h4 {
    font-size: 26px;
    font-weight: normal;
}

.hs_cos_wrapper_type_rich_text {
    h1 {
        font-size: 42px;
        text-decoration: none;
        text-transform: none;
        text-align: left;
        font-weight: normal;
    }
    h2 {
        font-size: 36px;
        text-decoration: none;
        text-transform: none;
        text-align: left;
        font-weight: normal;
    }
    h3 {
        font-size: 30px;
        font-weight: normal;
    }
    h4 {
        font-size: 26px;
        font-weight: normal;
    }
    p {
        margin-top: 0px;
    }
    a:not(.cta_button) {
        color: #aaa;
        &:hover {
            text-decoration: underline;
        }
    }
    a:not(.cta_button) {
        color: #ab2020;
        &:hover {
            text-decoration: underline;
        }
    }
    a.cta_button {
        text-decoration: none;
        p,
        span,
        strong {
            color: inherit;
        }
        &:hover {
            text-decoration: none;
        }
    }
    blockquote {
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        &:before {
            content: "\f10d";
            font-family: "FontAwesome";
            color: hubl("$cta_background");
            display: inline-block;
            padding-right: 10px;
            font-size: 25px;
            position: relative;
            top: 0px;
            line-height: 0;
        }
        &:after {
            content: "\f10e";
            font-family: "FontAwesome";
            color: hubl("$cta_background");
            display: inline-block;
            padding-left: 10px;
            font-size: 25px;
            position: relative;
            bottom: -10px;
            line-height: 0;
        }
        p {
            display: inline;
        }
    }
    ul {
        list-style: none;
        padding-left: 30px;
        margin-bottom: 20px;
        li {
            position: relative;
            margin-bottom: 6px;
            &:before {
                content: "";
                position: absolute;
                display: inline-block;
                background-color:#ab2020;
                border-radius: 50%;
                width: 6px;
                height: 6px;
                left: -30px;
                top: 14px;
            }
        }
    }
    ol {
        margin-bottom: 20px;
        counter-reset: li;
        list-style: none;
        padding-left: 25px;
        li {
            margin-bottom: 6px;
            position: relative;
            &:before {
                color: hubl("$cta_background");
                counter-increment: li;
                content: counter(li)'.';
                position: absolute;
                //width: 16px;
                background-position: center;
                left: -25px;
                top:  0px;
                display: inline-block;
                font-size: 16px;
                //vertical-align: middle;
               // height: 32px;
            }
        }
    }
}


.widget-type-text {
    a {
        color: #666;
        &:hover {
            color: #aaa;
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    &.slick-prev {
        left: 48px;
        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 30px;
            height: 58px;
            display: block;
        }
    }
    &.slick-next {
        right: 48px;
        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
            background-repeat: no-repeat;
            background-size: cover;
            transform: scaleX(-1);
            width: 30px;
            height: 58px;
            display: block;
        }
    }
}
.mask {
    position: absolute;
    background: rgba(black, .3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

