.page-404-wrapper {
    text-align: center;
    margin: 130px 0 100px;
    > div.container {
        > div.widget-span {
            float: none;
        }
    }
    .image-404 {
        img {
            padding-bottom: 20px;
        }
    }
    .header-404 {
        h3 {
            font-size: 34px;
            margin-bottom: 30px;
            color: #333333;
            font-weight: 300;
        }
    }
    .paragraph-404 {
        span {
            font-family: hubl("$font");
            font-weight: 500;
            font-size: 20px;
            color: #666666;
        }
    }
    .button-404 {
        margin-top: 50px;
        > div {
            float: none;
        }
    }
}
