.preferences-page {

	.cr-hero-banner .content h1 {
		font-size: 44px;
		line-height: 1.47;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		word-break: break-word;
		@media (max-width: 767px){
					font-size: 32px;
					line-height: 40px;
			    }
	}

	.preferences-section {
		position: relative;
		width: 100%;
		float: left;
		margin: 0;
		padding: 50px 0;
		background-color: #f6f6f6;

		&__left-column {
			max-width: 600px;
		}

		&__header {

			h2 {
				position: relative;
				font-size: 44px;
				line-height: 1.47;
				text-transform: capitalize;
				text-align: left;			

				&:after {
					display: block;
					position: relative;
					content: "";
					width: 80px;
					margin: 35px auto 50px auto;
					border-bottom: 2px solid hubl("$cta_background");
				}
			}
		}

		&__email {
			display: inline-block;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.5;
			text-align: center;
			padding: 11px 30px;
			min-width: 400px;
			background-color: #fff;
			border: 1px solid #b7b7b7;
			border: 1px solid #e4e4e4;
			border-radius: 3px;
			margin: 0 0 40px 0;
			color: #333;
			width: 100%;
		}

		&__form {
			border-top: 0;
			max-width: none;
			background-color: transparent;
			border-radius: 0;
			box-shadow: none;
			padding: 0;

			h3.form-title {
				display: none;
			}

			.hs-form-field:not(.hs_global_unsubscribe) {
				background-color: #fff;
				border-radius: 3px;
				border: 1px solid #e4e4e4;
				padding: 15px;

				& > label {

					& > span {
						font-family: Helvetica, sans-serif;
						font-size: 18px;
						font-weight: 500;
						color: #333;
					}
				}

				.input {

					label {

						& > span {
							font-family: Georgia, serif;
							font-size: 16px;
							font-weight: normal;
							color: #666;
						}
					}
				}

				&.disabled {
					opacity: .8;
					cursor: not-allowed;

					* {
						cursor: not-allowed;
					}
				}
			}

			.hs_global_unsubscribe {
				margin-top: 40px;
				margin-bottom: 40px;


				& > label {

					& > span {
						// font-family: Helvetica, sans-serif;
						// font-size: 16px;
						// font-weight: 500;
						color: #666;
					}
				}

				.input {

					label {

						& > span {
							font-size: 16px;
							font-weight: normal;
							color: #666;
						}
					}
				}
			}

			input[type="checkbox"] + span:before {
				top: 0;
			}

  			.hs-form-checkbox[data-reactid$="disabled"] {
				visibility: hidden;
				opacity: 0;
				height: 0;
				width: 0;
				margin: 0;
				padding: 0;
			}

			input.hs-button {
				width: auto;
				text-transform: uppercase;
			}
		}


		&__right-column {
			float: right;

			h3.form-title {
				font-size: 22px;
				hr {
					max-width: 55px;
				}

				strong {
					font-size: 25px;
					// font-weight: bold;
					// text-transform: uppercase;
				}
			}
		}
	}
}



@media (max-width: 767px) {
	.preferences-page {

		.preferences-section {

			&__header {

				h2 {
					font-size: 30px;
				}
			}

			&__left-column.widget-span {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

			&__right-column.widget-span {
				float: none;
				margin-top: 40px;
				margin-left: auto;
				margin-right: auto;
			}

		}
	}
}


@media (max-width: 480px) {
	.preferences-page {

		.preferences-section {

			&__email {
				min-width: 0;
				width: 100%;
			}
		}
	}
}