.thank-you-page{
	background-color: #f6f6f6;
	.content-main{
		padding: 65px 0px;
		h2{
			margin-top: 0px;
			font-weight: 200;
			font-size:44px;
			@media (max-width: 767px){
				font-size: 32px;
					line-height: 40px;
	    	}
		}
		.widget-type-rich_text{
			margin-bottom: 20px;
			hr{
				display: inline-block;
				width: 90px;
				border: none;
				border-top: 2px solid #ab2020;
				margin-top: 20px;
				margin-bottom: 40px;
			}
		}
		.image-section{
			text-align: center;
			@media (max-width: 767px){
				padding-top: 100px;
	    	}
		}
		.cta-primary {
		    background: #ab2020;
		    color: white;
		    padding: 25px 45px;
		    font-size: 22px;
		    border-radius: 3px;
		    text-transform: uppercase;
		    font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
		    letter-spacing: 0px;
		    font-weight: 400;
		    display: inline-block;
		    &:hover {
		        background: #960200;
		    }
		}
	}
}
