.landing--2 {
    h2 {
        margin: 30px 0;
    }
    .cr-hero-banner {
        margin: 0;
    }
    section {
        position: relative;
        width: 100%;
        float: left;
        margin: 25px 0;
    }
    .widget-type-header {
        h2 {
            position: relative;
            &:after {
                display: block;
                position: relative;
                content: none !important;
                width: 80px;
                margin: 50px auto;
                border-bottom: 2px solid hubl("$cta_background");
            }
        }
    }
    .lead-section {
        margin-top: 50px;
        text-align: center;
    }
    .video-module-full-width {
        margin-bottom: 0;
    }
    &.one-col {
        .content-section {
            &__left-column {
                max-width: 100%;
                text-align: center;
                .widget-type-header {
                    h2 {
                        text-align: center;
                        &:after {
                            margin: 50px auto;
                        }
                    }
                }
                ul {
                    max-width: 500px;
                    text-align: left;
                    margin: 0 auto 20px;
                }
            }
            &__right-column {
                float: none;
                &.widget-type-form {
                    max-width: 580px;
                    margin: 40px auto 0;
                }
            }
        }
    }
    .footer {
        .bottom-section {
            margin: 0;
        }
    }
    .feature-boxes-wrapper {
        padding: 50px 0 0;
        position: relative;
        &:after {
            display: block;
            position: relative;
            content: '';
            width: 80px;
            margin: 50px auto;
            border-bottom: 2px solid hubl("$cta_background");
        }
    }
}
.mfp-auto-cursor .mfp-content {
	@media (min-width: 768px){
		width: 50% !important;
		max-width: 900px;
	}
}
.mfp-bg{
	z-index: 10001 !important;
}
.mfp-wrap {
	z-index: 10002 !important;
}