.landing.landing--1 {
	background-color: #f6f6f6;
	.content-section__left-column {
		h2 {
			margin-top: 0;
		}
	}
	&.one-col {
		.content-section {
			&__left-column {
				max-width: 100%;
				text-align: center;
				h2 {
					text-align: center;
					&:after {
						margin: 50px auto;
					}
				}
				ul {
					max-width: 500px;
					text-align: left;
					margin: 0 auto 20px;
				}
			}
			&__right-column {
				float: none;
				&.widget-type-form {
					max-width: 580px;
					margin: 40px auto 0;
				}
			}
		}
	}
}