.landing {
	@media screen and (min-width: 993px) {
        .body-container-wrapper {
            margin-top: 0;
        }
    }

	.content-section {
		position: relative;
		width: 100%;
		float: left;
		margin: 0;
		padding: 50px 0;
		background-color: #f6f6f6;

		h2 {
			text-align: left;
			line-height: 53px;
			&:after {
				margin-left: 0;
			}
		}

		.widget-type-header {

			h2 {
				position: relative;

				&:after {
					display: block;
					position: relative;
					content: "";
					width: 80px;
					margin: 50px auto 50px 0;
					border-bottom: 2px solid hubl("$cta_background");
				}
			}
		}
		.widget-type-rich_text {
			ul {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		&__left-column {
			max-width: 600px;
		}

		&__right-column {
			float: right;
		}
	}
}


@media (max-width: 767px) {

	.landing {

		.content-section {

			&__left-column.widget-span {
				margin-left: auto;
				margin-right: auto;
			}

			&__right-column.widget-span {
				margin-left: auto;
				margin-right: auto;
				float: none;
			}
		}
	}
}