.thank-you-page-subscription{
	.cr-hero-banner{
		.content{
			hr{
				display: none;
			}
		}
	}
	.content-main{
		padding: 65px 0px;
		h2{
			font-size:44px!important;
			margin-top: 0px;
			font-weight: 200;
			text-align: center;
			@media (max-width: 767px){
				font-size: 32px;
					line-height: 40px;
	    	}
		}
		.widget-type-rich_text{
			margin-bottom: 20px;
			padding: 0px 200px;
			text-align: center;
			@media (max-width: 1100px){
				padding: 0px;
	    	}
			hr{
				display: inline-block;
				width: 90px;
				border: none;
				border-top: 2px solid #ab2020;
				margin-top: 20px;
				margin-bottom: 40px;
			}
			ul{
				text-align: left;
			}
		}

		.widget-type-cta{
			text-align: center;
			.cta-primary {
			    background: #ab2020;
			    color: white;
			    padding: 25px 45px;
			    font-size: 22px;
			    border-radius: 3px;
			    text-transform: uppercase;
			    font-family: Helvetica, 'HelveticaNeue', 'Helvetica Neue';
			    letter-spacing: 0px;
			    font-weight: 400;
			    display: inline-block;
			    &:hover {
			        background: #960200;
			    }
			}
		}
	}

}