.unsubscription-preference{
	.cr-hero-banner{
		.content{
			display: none;
		}
	}
	.page-header{
		text-align: center;
		padding-bottom: 0px;
		h3{
			margin-top: 0px;
			font-weight: 200;
			text-align: center;
			font-size: 36px;
		}
		hr{
			display: inline-block;
			width: 90px;
			border: none;
			border-top: 2px solid #ab2020;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}
	#content{
		text-align: center;
	}
	.widget-type-cta{
			margin-top: 40px;
	}
}
