.cr-blog{

	// modal form btn

	.popup-btn{
		cursor: pointer;
	}
	/* ******************** */
	/* **** TOPICS NAV **** */
	/* ******************** */
	.topic-menu{
		background-color: #3a3a3a;
		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			list-style: none;
			margin-left: -18px;
			@media (max-width: 480px){
				justify-content: center;
				margin-left: 0px;
		    }
			li{
				display: block;
				@media (max-width: 480px){
					&:nth-child(n+4){
					    display: none;
					}
				}
				a{
					color:#fff;
					display: block;
					font-family: Helvetica;
					font-weight: 200;
					padding: 18px;
					&:hover{
						opacity: 0.7;
					}
				}

			}
		}
	}
	/* ********************* */
	/* ****** SIDEBAR ****** */
	/* ********************* */
	.sidebar{
		margin-top: 60px;
		padding-bottom: 48px;
		.sidebar-item{
			margin-bottom: 35px;
			ul{
				list-style: none;
			}
			h3{
				margin-top: 0px;
				font-size: 22px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}

		// modal form 
		.popup-block{
			 display: block!important;
			  .form-wrapper {
			  	top: 50%!important;
				transition: all 0.3s ease;
			  }
		}
		.form-popup-wrapper {
	        display: none;
	        position: fixed;
	        z-index: 10001;
	        background: rgba( 2, 2, 2, 0.7 );
	        width: 100%;
	        height: 100%;
	        left: 0;
	        right: 0;
	        top: 0;
	        overflow: hidden;
	        // 
	        transition: all 0.3s ease;
	        transition-delay: 2s;
	  
		    .form-wrapper {

		        position: absolute;
		        top: -50%;
		        left: 50%;
		        transform: translate(-50%, -50%);
		        width: 600px;
		        background-color: #fff;
		        box-shadow: 0 5px 15px rgba(0,0,0,.5);
		        border-radius: 6px;
		        max-height: 90%;
		        overflow: auto;
		        transition: all 0.3s ease;
		        @media (max-width: 767px) {
		        	width: 300px;
		        }
		        .form-exit {
			        position: absolute;
			        cursor: pointer;
					height: auto;
				    width: auto;
				    left: auto;
				    right: 0px;
				    bottom: auto;
				    top: 0px;
				    padding: 8px;
				    color: #ffffff;
				    font-size: 12px;
				    line-height: 14px;
				    border: 1px none #ffffff;
				    box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 );
				    text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 );
				    background-color: rgba( 171, 32, 32, 1 );
				    margin-top: 2px;
				    margin-right: 2px;
				    border-radius: 0px 0px 0px 5px;
					-webkit-font-smoothing: subpixel-antialiased;
				
			    }
			    h3{
			    	text-transform: none;
			    	margin-bottom: 35px;
					color: #666666;
					font-size: 16px;
					hr{
						border: none;
						border-bottom: 1px solid #919191;
					}
					strong{
						color: #000000;
					    text-align: center;
					    text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
					    font-family: inherit;
					    font-size: 25px;
					    line-height: 28px;
					    font-family: Helvetica ;
  						font-weight: 700;
					}

			    }
		    }
		}


		.hs_cos_wrapper_type_post_filter {
			ul{
				list-style: none;
				padding-left: 0px;
				li{
					border-bottom: 1px solid #ebebeb;
					padding: 10px 0px;
					a{
						display: block;
						width: 100%;
						color: #666;
						font-size: 16px;
						&:hover{
							color: #ab2020;
						}
						span{
							display: none;
						}
					}
				}
			}
			.filter-expand-link{
				color: #ab2020;
				margin: 10px 0px;
				display: inline-block;
			} 
		}
		.popular-posts{
			h3{
				margin-bottom: 33px;
			}
			.single-post{
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				margin-top: 17px;

				a{
					min-width:85px; /* for iOS8*/
					.thumb{
						min-width: 85px;
						height: 85px;
						background-size: cover;
						background-position: center center;
					}
				}
				.post-title{
					margin-left: 15px;
					h4{
						text-align: left;
						font-size: 16px;
						margin-top: 0px;
						margin-bottom: 0px;
						text-transform: none;
						font-family: "Georgia", "Times New Roman", Times, serif;;
					}
					span{
						display: block;
						color:#666;
						font-size: 14px;
						font-family: "Georgia", "Times New Roman", Times, serif;;
					}
				}
			}
		}
		.follow-us{
			h3{
				margin-bottom: 18px;
			}
			ul{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap:wrap;
				li{
					float: left;
					i{
						display: block;
						width: 43px;
						height: 43px;
						line-height: 43px;
						text-align: center;
						background-color: red;
						font-size: 20px;
						border-radius: 6px;
						color:#fff;
						margin: 15px 15px 0px 0px;
						transition: all 0.3s linear;
						&:hover{
							opacity: 0.8;
						}
					}
					.fa-facebook{
						background-color: #597ac7;
					}
					.fa-twitter{
						background-color: #5bbcec;
					}
					.fa-linkedin{
						background-color: #0a78b1;
					}
					.fa-xing{
						background-color: #118383;
					}
					.fa-google-plus{
						background-color: #dd4f43;
					}
					.fa-youtube{
						background-color: #b31217;
					}
				}
			}
		}
	}
	/* ******************** */
	/* **** PAGINATION **** */
	/* ******************** */
	.blog-pagination{
		padding-bottom: 48px;
		border-bottom: 1px solid #e0e0e0;
		ul{
			padding-left: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 5px;
				border: 1px solid transparent;
				transition: all 0.3s linear;
				border-radius: 4px;
				a{
					color: #292935;
				    display: block;
				    line-height: 27px;
				    height: 27px;
				    width: 24px;
				    text-align: center;
				    font-size: 16px;
				    font-weight: 400;
				    &:hover{
						border: none;
				    }
				}
				&:hover{
					border: 1px solid #ab2020;
					
				}

			}

		}
		.disabled{
			display: none;
		}
		.active{
			background-color: #ab2020;
			a{
				color: #fff;
			}
		}
	}

	/* ******************** */
	/* *** BLOG LISTING *** */
	/* ******************** */
	.blog-listing{
		margin-top: 60px;
		margin-bottom: 48px;
		.blog-post{
			padding-bottom: 34px;
			margin-bottom: 34px;
			border-bottom: 1px solid #e0e0e0;
			.thumb{
				width: 100%;
				height: 350px;
				background-size: cover;
				background-position: center center;
				position: relative;
				z-index: 1;
				box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.13);
				@media (max-width: 480px){
					//background-position: left center;
				}
				.mask{
					background: #000;
					opacity: 0.2;
					z-index: 2;
				}
				.topic-list{
					position: absolute;
					z-index: 3;
					width: 100%;
					text-align: right;
					margin-top: 11px;
					padding-right: 17px;
					top:0px;
					@media (max-width: 400px){
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-end;
						padding-right: 0px;

				    }
					a{
						display: inline-block;
						background-color: #ab2020;
						color: #fff;
						padding: 12px;
						border-radius: 3px;
						font-size: 14px;
						line-height: 16px;
						font-family: Helvetica;
						margin: 6px;
						transition: 0.3s all linear;
						&:hover{
							background-color: #960200;
						}
					}
				}
				.content{
					padding: 0px 20px;
					position: absolute;
					z-index: 3;
					bottom: 0px;
					background-color: rgba(255,255,255,0.8);
					width: 100%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					min-height: 78px;
					@media (max-width: 330px){
						// flex-direction:column;
						// justify-content:center;
				    }

					.avatar{
						min-width: 55px;
						height: 55px;
						background-size: cover;
						background-position: center center;
						border-radius: 50%;
						margin-right: 20px;
						border: 3px solid #fff;
						@media (max-width: 330px){
							margin-top: 0px;
							// margin-right: 0px;
					    }
					}
					p{
						color: #666; // #261900
						span{
							font-family: inherit;
							color: #ab2020;
							@media (max-width: 350px){
								font-size: 14px;
						    	line-height: 24px;
						    }
						}
						@media (max-width: 350px){
							font-size: 14px;
							line-height: 24px;
					    }
					}
				}
			}
			h2{
				text-align: left;
				text-transform: none;
				line-height: 22px;
				a{
					font-family: Helvetica;
					font-size: 22px;
					color: #261900;
				}
			}
			p{
				//font-family: Helvetica;
				a{
					color:  #666;
					//font-family: Helvetica;
					display: block;
				}
			}
			.read-more{
				display: inline-block;
				background-color: #ab2020;
				color: #fff;
				padding: 22px 27px;
				border-radius: 3px;
				font-size: 14px;
				line-height: 16px;
				font-family: Helvetica;
				font-size: 18px;
				//text-transform: uppercase;
				font-family: Helvetica;
				transition: 0.3s all linear;
				&:hover{
					background-color: #960200;
				}
			}
		}
	}
	.newsletter-abonnieren-listing{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 30px 0px;
		@media (max-width: 767px){
			display: none;	
		}

		h3{
			font-size: 22px;
			margin-right: 25px;
		}
	}
	/* ******************* */
	/* *** SINGLE POST *** */
	/* ******************* */
	.post-body{
		// background-color: orange;
		margin-top: 60px;
		margin-bottom: 48px;
		.topic-list{
			a{
				display: inline-block;
				background-color: #666666;
				color: #fff;
				padding: 12px;
				border-radius: 3px;
				font-size: 14px;
				line-height: 16px;
				font-family: Helvetica;
				margin: 0px 6px 6px 0px;
				transition: 0.3s all linear;
				&:hover{
					background-color: #960200;
				}
			}



		}
		h2{
			text-align: left;
			text-transform: none;
			margin: 0px;
			line-height: 22px;
			margin: 10px 0px;
			span{
				font-family: Helvetica;
				font-size: 22px;
				color: #261900;
			}
		}
		.content{
			p{
				&:first-child{
					margin-top: 10px;
				}
				
			}
			a:not(.cta_button){
					color: #ab2020;
				} 
		}
		.info-wrapper{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@media (max-width: 480px){
				
		    }
			@media (max-width: 350px){
				justify-content: center;
				flex-direction: column;
		    }
			.about-article{
				p{
					color: #666; // #261900
					margin: 0px;
					span{
						color: #ab2020;
					}
					@media (max-width: 350px){
						text-align: center;
				    }
				}					
			}
			.social-share{
				margin-left: 0px;
				@media (max-width: 480px){
					margin-left: 30px;
			    }
				@media (max-width: 350px){
					margin-left: 0px;
			    }
				a{
					i{
						color:#b2b2b2;
						font-size: 18px;
						padding: 6px 0px 0px 12px;
						transition: all 0.3s linear;
						@media (max-width: 350px){
							padding: 12px;
					    }
						&:hover{
							color: #ab2020;
						}
					}
				}
			}
		}
		.thumb{
			width: 100%;
			min-height: 350px;
			background-size: cover;
			background-position: center center;
			position: relative;
			z-index: 1;
			margin-bottom: 15px;
			margin-top: 15px;
			.mask{
				background: #000;
				opacity: 0.2;
				z-index: 2;
			}
		}
		.author-wrapper{
			margin-top: 80px;
			border: 1px dotted #dadada;
			text-align: center;
			position: relative;
			.avatar{
				height: 77px;
				width: 77px;
				background-size: cover;
				background-position: center center;
				border-radius: 50%;
				margin: 0 auto;
				border: 2px solid #fff;
				position: absolute;
				top:-77px;
				left: 50%;
				transform:translate(-50%,50%);
				}
			.content{
				padding: 25px;
				h5{
					font-size: 16px;
					font-weight: 400;
					margin-bottom: 5px;
					font-family: "Georgia";
					span{
						color: #ab2020;
					}
				}
				p{
					margin-top: 0px;
					font-size: 16px;
					line-height: 24px;
				}
				a{
					position:relative;
					margin:0;
					padding:0px;
					min-width:30px;
					margin-bottom:0px;
					font-size: 0px;
					color:#fff;
					&.hs-author-social-link{
						display:inline-block;
						background-image: none;
						&:before{
							font-family:'FontAwesome';
							display:block;
							font-size:20px;
							font-weight:300;
							color: #bcbcbc;
							transition: all 0.3s linear;
							text-align: center;
							margin: 0px;
							text-indent: 0px;
						}
						&.hs-social-xing:before{
							content:"\f168";
						}
						&.hs-social-twitter:before{
							content:"\f099";
						}
						&.hs-social-facebook:before{
							content:"\f09a";
						}
						&.hs-social-google-plus:before{
							content:"\f0d5";
						}
						&.hs-social-linkedin:before{
							content:"\f0e1";
						}
						&.hs-social-default:before{
							content:"\f0ac";
						}
						&.hs-social-rss:before{
							content:"\f09e";
						}
						&.hs-social-youtube:before{
							content:"\f167";
						}
						&.hs-social-pinterest:before{
							content:"\f231";
						}
						&:hover{
							&:before{
								color: #ab2020;
							}
						}
					}	
				}	
			}
		}

	}
}





















