.cookie-disclaime{
    min-height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,1);
    transition: all .3s linear;
    z-index: 99999;
    color: #fff;
    padding: 0px;
    #cookie-info{
        padding: 0px;
    	.container{
            max-width: 1000%;
            padding: 10px 10%;;
        }
    	text-align: center;
    }
    p{
    	margin-top: 0px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        -webkit-font-smoothing: subpixel-antialiased;
        margin-bottom: 0px;
    }
    a.cookies{
    	cursor: pointer;
    	text-align: center;
    	margin: 0px 0px 0px 0px;

            font-family: sans-serif;
    line-height: 18px;
    padding: 2px 12px;
    background: linear-gradient(to bottom, #FEFEFE, #F4F4F4) repeat scroll 0 0 #F3F3F3;
    border-color: #BBB;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    -moz-box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    margin-left: 10px;

    }
}
