.cr-hero-with-ebook {
	width: 100%;
	min-height: 320px;
	position: relative;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	margin: 0 !important;
	padding-top: 20px;
	padding-bottom: 20px;
	.mask{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 2;
	}
	.content-wrapper {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 767px) {
			flex-direction: column;
		}
		.description {
			h1 {
				text-align: left;
				color: #fff;
				font-size: 44px;
				line-height: 53px;
				@media (max-width: 767px) {
					margin: 40px 0;
					text-align: center;
					font-size: 32px;
					line-height: 40px;
		    
				}
			}
		}
		.image-wrapper {
			img {
				height: auto;
				max-width: 100%;
				@media (max-width: 767px) {
					max-width: 300px;
				}
			}
		}
	}
}