.cta-box{
	width: 100%;
	// padding: 25px;
	padding: 25px 15px;
	background-size: cover;
	background-position: center-center;
	border: 1px solid #ebebeb;
	img{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	p{
		// font-size: 25px;
		font-size: 20px;
		// line-height: 39px;
		line-height: 34px;
		text-align: center;
		span{
			color: #ab2020;
			font-weight: 600;
			font-size: inherit;
		}
	}
	.cta{
		text-align: center;
	}
}
