.feature-boxes-wrapper {

	.hs_cos_wrapper_type_widget_container {
		display: flex;
		flex-wrap: wrap;
	}

	.hs_cos_wrapper_type_custom_widget {
		margin: 30px auto;
		width: 25%;
		
	}

	.feature-box {
		width: 100%;
		max-width: 270px;
		padding: 0 10px;
		margin-left: auto;
		margin-right: auto;

		&__image-wrapper {
			height: 80px;

			img {
				margin: auto;
				max-height: 100%;
			}
		}

		&__content-wrapper {

			& > h4 {
				font-size: 18px;
				text-transform: uppercase;
				font-weight: bold;
			}

			h1, h2, h3, h4, h5, h6, p, li {
				margin: 10px 0;
			}

			p {
				line-height: 1.4;
			}
			
		}

	}
}



@media (max-width: 991px) {

	.feature-boxes-wrapper {

		.hs_cos_wrapper_type_custom_widget {
			width: 50%;
		}
	}
}



@media (max-width: 767px) {
	.feature-boxes-wrapper {
		display: block;

		.hs_cos_wrapper_type_custom_widget {
			width: 100%;
		}
	}
}