.hero-banner-blog{
	width: 100%;
	min-height: 250px;
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	.mask{
		position: absolute;
		z-index: 2;
		top: 0;	
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
	}
	.content{
		position: relative;
		z-index: 3;
		text-align: center;
		padding: 35px 0px;
		@media (max-width: 767px){
			padding: 25px 0px;
	    }
		h1{
			margin-top: 0px;
			color: #fff;
			margin-bottom: 15px;
			font-size: 64px;
				font-weight: 600;
				@media (max-width: 767px){
					font-size: 32px;
					line-height: 40px;
			    }
			span{
				font-size: 64px;
				font-weight: 600;
				@media (max-width: 767px){
					font-size: 32px;
					line-height: 40px;
			    }
			}
		}
		hr{
			display: block;
			width: 93px;
			border: none;
			border-bottom: 2px solid #fff;
		}
		p{
			margin-top: 35px;
			margin-bottom: 0px;
			padding: 0 40px;
			font-size: 22px;
			color: #fff;
		}
	}
}