.cr-hero-banner{
	width: 100%;
	min-height: 317px;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	.mask{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 2;
	}
	.content{
		position: relative;
		z-index: 3;
		color:#fff;
		padding: 80px 15px 70px;
		text-align: center;
		@media (max-width: 767px){
			padding: 20px;

	    }
		h1{ 

			margin-top: 0;
			margin-bottom: 5px;
			color:#fff;
			@media (max-width: 767px){
				font-size: 32px;
				line-height: 40px;
		    }
		}
		hr{
			display: inline-block;
			width: 93px;
			border:none;
			border-top:2px solid #fff;
			margin-top: 5px;
			margin-bottom: 15px;
		}
		p, li {
			margin: 0px;
			font-size: 22px;
			font-weight: 400;
		}
	}

&--extended {

	.content {
		padding: 150px 15px 80px;

		p, li {
			font-size: 16px;
		}

	}

	h1, &__content-wrapper {
		text-align: left;
	}

	h1 {
		font-size: 44px;
		@media (max-width: 767px){
				font-size: 32px;
				line-height: 40px;
		    }
	}

	&__content-wrapper {
		position: relative;
		width: 57%;
		float: left;

		.hs_cos_wrapper_type_rich_text {
			ul {
				li {
					&:before {
						background-color: #fff;
					}
				}
			} 
		}
	}

	&__image-wrapper {
		position: relative;
		width: 43%;
		float: right;
		text-align: center;
		z-index: 3;

		img {
			box-shadow: 0 0 60px 10px rgba(0,0,0,.35);
		}
	}
}

}



@media (max-width: 767px) {

	.cr-hero-banner {

	&--extended {
		&__content-wrapper {
			width: 100%;
		}

		&__image-wrapper {
			display: none;
		}

	}
	}
}

