.video-module-full-width {
	position: relative;
	width: 100%;
	min-height: 410px;
	float: left;
	padding: 60px 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.37);
		z-index: 2;
	}

	&__background-video-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

		video {
			position: relative;
			min-width: 100%;
			height: 100%;
			max-width: none;

			&::-webkit-media-controls {
  				display: none;
			}
		}
	}

	&__play-button-wrapper {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
		z-index: 3;
	}

}
